.angular
dist
node_modules
angular.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
global_styles.css
package-lock.json
package.json
README.md
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
tsconfig.base.json
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
tsconfig.base.json
.gitignore
.github
.vscode
.angular
dist
node_modules
angular.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local